# Dependency directories
node_modules/
jspm_packages/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
build/
dist/
coverage/

# IDE and Editor settings
.vscode/
.idea/

# Environment variables
.env
.env.*.local

# Miscellaneous
*.tgz
*.zip
*.tar
*.rar
*.gz
